@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.item{
    display: none;

    @include tablet{
        display: flex;
        list-style: none;
        background-color: $light-Grey;
        @include tablet__table-header;
        color: $slate;
        padding: 1rem 1rem 1rem 2rem;
        margin: 0;
        justify-content: space-between;
    }

    &__section{
        display: flex;
        align-items: center;

        &--tablet{
        
            @include desktop{
                display: none;
            }
        }

        &--desktop{
            display: none;

            @include desktop {
                display: flex;
            }
        }
    }
}

.list{

    @include tablet {
        margin-top: 0; 
    }
    
    &__container{
        border-bottom: 1px solid $cloud;
        padding-bottom: 1rem;

        @include tablet{
            width: 100%;
            display: flex;
            padding-bottom: 0; 
            justify-content: space-between;
        }
    }

    &__group-container{
        display: flex;

        @include tablet {
            width: 100%;
            justify-content: space-between;

            &:hover{
                background-color: rgba($color: $instock-Indigo, $alpha: 0.07);
            }
        }

        
    }

    &__group{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 1rem 0 1rem;

       @include tablet{
        display: flex;
        margin: 0;
        flex-direction: row;
        width: 45%;
       }

       @include desktop{
        width: 36%;
        margin-right: 100px;
       }
    }

    &__inventory-container{
        margin-right: 5rem;

        @include tablet{
            margin-right: 0;
            width: 57%
        }
    }

    &__inventory{
        @include mobile__body-medium;
        font-weight: 600;
        color: $instock-Indigo;
        align-items: inherit;
        display: flex;
        
        @include tablet{
            @include tablet__body-medium;
            margin-left: 2rem;
        }  
    }

    &__instock{
        @include mobile__body-small;
        display: flex;
        align-items: center;
        color: $instock-color;
        background-color: rgba($color: $instock-color, $alpha: 0.07);
        height: 1.5rem;
        border-radius: 20px;
        padding: 0 8px 0 8px;
        text-transform: uppercase;
        font-weight: 600;

        @include tablet{
            @include tablet__body-small;
        }
    }

    &__outofstock{
        @include mobile__body-small;
        display: flex;
        align-items: center;
        color: $outOfStock-color;
        background-color: rgba($color: $outOfStock-color, $alpha: 0.07);
        height: 1.5rem;
        border-radius: 20px;
        padding: 0 8px 0 8px;
        text-transform: uppercase;
        font-weight: 600;

        @include tablet{
            @include tablet__body-small;
        }
    }

    &__category{
        @include mobile__body-medium;
        color: $instock-Black;

        @include tablet{

            @include tablet__body-medium;
        }
    }

    &__quantity{
        @include mobile__body-medium;
        color: $instock-Black;

        @include tablet{
            margin-right: 55px;
            @include tablet__body-medium;
        }
    }
    
    &__title{
        @include mobile__table-header;
        font-weight: 600;
        color: $slate;

        @include tablet{
            display: none;
        }
    }

    &__image-container{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 0 1rem;

        @include tablet {
            margin: 0;
        }
    }

    &__image{
        @include tablet{
            margin-right: 1rem;
            width: 20px;
        }
    }
}