@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/fonts" as *;

* {
  font-family: "Titillium Web";
}

.inventory-list__inStock {
  padding: toRem(4) toRem(8);
  color: green;
  background: rgba(21, 132, 99, 0.07);
  border-radius: toRem(20);
  width: fit-content;
  font-weight: 700;
  margin-top: 0px;
  font-size: 0.8em;

  @include tablet {
    height: toRem(26);
  }
}

.inventory-list__notInStock {
  height: toRem(24);
  padding: toRem(4) toRem(8);
  width: fit-content;
  font-size: 0.8em;
  color: red;
  background-color: rgba(201, 69, 21, 0.07);
  border-radius: toRem(20);
  font-weight: 700;
  margin-top: 0px;

  @include tablet {
    height: toRem(26);
  }
}

.category-spacing {
  margin-top: 7%;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  background: white !important;
  background: linear-gradient(0deg, #ffffff 85%, #232940 85%);
  @include tablet {
    background: white;
    background: linear-gradient(0deg, #ffffff 75%, #232940 75%);
  }
}

.inventory {
  width: 90%;
  box-shadow: 0 0 4px grey;
  margin: 0% 5% 5% 5%;
  background: $white;

  &__header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $light-Grey;

    @include tablet {
      flex-direction: row;
      padding-inline: 1rem;
    }
  }
  &____header-title {
    padding-inline: 1rem;
    @include mobile__page-header;
    width: 85%;

    @include tablet {
      width: 45%;
    }
  }

  &____header-search {
    width: 80%;
    height: 2rem;
    padding-inline: 1rem;
    background-repeat: no-repeat;
    margin: auto;
    border-radius: 20px;
    background-position: 95%;
    border: 1px solid $cloud;
    background-image: url("../../Assets/Icons/search-24px.svg");

    @include tablet {
      width: 30%;
      margin-block: 1rem;
    }
  }

  &__header-add-btn {
    @include mobile__labels-links-buttons;
    width: 90%;
    height: 2rem;
    padding-inline: 1rem;
    color: white;
    margin: auto;
    margin-block: 1rem;
    background-color: $instock-Indigo;
    border-radius: 20px;
    border: none;

    @include tablet {
      width: 30%;
      margin-left: 2rem;
    }
  }

  &__list-labels {
    display: none;

    @include tablet {
      justify-content: space-around;
      list-style: none;
      display: flex;
      padding: 0;
      margin-block: 0;
      background-color: $light-Grey;
      padding-block: 1rem;
      @include tablet__body-small;
      font-weight: 600;
      color: $slate;
    }
  }
}

.inventorylabels__item {
  text-align: center;
}

.labels__icon {
  height: 1rem;
  transform: translateY(2px);
}

.inventory-list {
  flex-direction: column;
  display: flex;

  &__item {
    display: flex;
    border-bottom: 1px solid $cloud;
    flex-direction: column;
    &:hover {
      background-color: rgba(46, 102, 230, 0.07);
    }

    @include tablet {
      flex-direction: row;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;

    @include tablet {
      justify-content: space-around;
      width: 100%;
      padding-inline: 1.5rem;
      height: 3em;
    }
  }

  &__supergroups {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 4em;

    @include tablet {
      flex-direction: row;
    }
  }

  &__groups {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 93%;
    margin-bottom: 1%;

    @include tablet {
      justify-content: center;
    }
  }

  &__subtitles {
    @include mobile__body-small;
    font-weight: 600;
    margin-bottom: 0.25rem;

    @include tablet {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: #2e66e5;
  }

  &__inventory-link {
    @include mobile__body-small;
    font-weight: 600;
    margin-block: 0;
    color: $instock-Indigo;
    text-decoration: none;

    @include tablet {
      @include tablet__body-small;
    }
  }

  &__chevron {
    width: 1rem;
  }

  &__body {
    @include mobile__body-small;
    margin-block: 0;

    @include tablet {
      @include tablet__body-small;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: inherit;
    padding-left: 4.75em;
    padding-bottom: 1em;

    @include tablet {
      padding-right: 1.5rem;
    }
  }

  &__icons {
    @include tablet {
      margin-right: 1.5em;
    }
  }
}

.edit-pen {
  padding-right: 3em;
  @include tablet {
    background-color: white;

    padding: 0;
  }
}
