@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.warehouse-details {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 4px;
    box-shadow: 0 0 4px grey;
    background-color: $white;

    &__boxshadow {
        display: flex;
        justify-content: center;
        background: $white;
        background: linear-gradient(0deg, $light-Grey 90%, $graphite 90%);
    }

    &__info-holder{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &__backIcon{
        margin-right: 1rem;
    }

    &__header{
        @include mobile__page-header;

        @include tablet {
            @include tablet__page-header;
        }
    }

    &__title{
        @include mobile__body-small;

        @include tablet {
            @include tablet__body-small;
        }
    }

    &__text {
        @include mobile__body-small;

        @include tablet{
            @include tablet__body-medium;
        }
    }

    &__header-holder{
        display: flex;
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: 1px solid $slate;
    }

    &__address {
        width: 100%;
        margin-left: 1.6rem;

        @include tablet{
            width: 40%;
            margin: 0;
        }
    }

    &__contact-name{
        width: auto;

        @include tablet{
            width: 19%;
            padding-left: 1rem;
            border-left: 1px solid $slate;
        }
    }

    &__contact-info{
        width: auto;

        @include tablet {
            width: 19%;
        }
    }
}