@import "../../styles/partials/fonts";
@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

* {
  box-sizing: border-box;
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: $white;
  padding: 1rem;
  z-index: 999;
  position: fixed;
  top: 0;

  @include tablet {
    margin-top: 9rem;
    width: 90vh;
    height: auto;
  }

  &__overlay {
    @include tablet {
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 1rem;
      z-index: 999;
      position: fixed;
      top: 0;
    }
  }
  &__closewindow {
    width: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    @include mobile__page-header;
  }

  &__text {
    @include mobile__body-large;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
  }
  &__cancel {
    @include mobile__body-small;
    height: 2rem;
    padding-inline: 1rem;
    width: 47%;
    margin: 0;
    margin-block: 1rem;
    border-radius: 20px;
    font-weight: 600;
    background-color: $white;
    color: $slate;
    border: 1px solid $cloud;
  }
  &__delete {
    @include mobile__body-small;
    height: 2rem;
    padding-inline: 1rem;
    width: 47%;
    margin: 0;
    color: white;
    margin-block: 1rem;
    background-color: $outOfStock-color;
    border: none;
    border-radius: 20px;
    font-weight: 600;
  }
}
