@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.addWarehouse{

    box-shadow: 0 0 4px grey;
    margin: 0rem 2rem 1rem 2rem;
    background: $white;

    &__boxshadow{
        display: flex;
        justify-content: center;
        background: linear-gradient(0deg, $light-Grey 90%, $graphite 90%);
    }

    &__title{
        margin-top: 0;
        border-bottom: 1px solid $cloud;
        @include mobile__page-header;
        padding: 1rem;
        font-weight: 600;

        @include tablet {
            @include tablet__page-header;
        }
    }
    
    &__arrow{
        cursor: pointer;
    }

    &__container{

        @include tablet{
            display: flex
        }
    }

    &__warehouse{
        border-bottom: 1px solid $cloud;

        @include tablet{
            border-bottom: none;
            border-right: 1px solid $cloud;
        }
    }

    &__subtitle{
        margin: 1rem;
        @include mobile__sub-header;
        font-weight: 600;

        @include tablet {
            @include tablet__sub-header;
        }
        
    }
    
    &__form{
        margin: 0 1rem 0 1rem;
    }

    &__label{
       @include mobile__labels-links-buttons;
       font-weight: 600;

       @include tablet {
        @include tablet__labels-links-buttons;
        }
    }

    &__input{
        width: 100%;
        margin-bottom: 1rem;
        @include mobile__labels-links-buttons;
        height: 36px;
        padding: 0 16px 0 16px;
        margin-top: 4px;
        border-radius: 20px;
        border: 1px solid $cloud;

        @include tablet {
            @include tablet__labels-links-buttons;
        }

        &:focus{
            outline: 1px solid $instock-Indigo;
        }
    }

    &__input-error{
        width: 100%;
        margin-bottom: 1rem;
        @include mobile__labels-links-buttons;
        height: 36px;
        padding: 0 16px 0 16px;
        margin-top: 4px;
        border-radius: 20px;
        border: 1px solid $outOfStock-color;

        @include tablet {
            @include tablet__labels-links-buttons;
        }

        &:focus{
            outline: 1px solid $instock-Indigo;
        }
    }

    &__submit{
        display: flex;
        justify-content: space-evenly;

        @include tablet{
            margin-top: 2rem;
            justify-content: flex-end;
        }
       
    }

    &__add{
        margin: 0 1rem 1rem 1rem;
        height: 36px;
        padding: 0 16px;
        width: 100%;
        border-radius: 20px;
        border: none;
        background-color: $instock-Indigo;
        color: $white;
        @include mobile__labels-links-buttons;

        @include tablet{
            height: 38px;
            width: auto;
            @include tablet__labels-links-buttons;
        }
        
        &:hover{
            background-color: $graphite;
        }

    }
    &__cancel{
        margin: 0;
        height: 36px;
        padding: 0 16px;
        width: 100%;
        border-radius: 20px;
        border: 1px solid $cloud;
        background-color: $white;
        color: $slate;
        @include mobile__labels-links-buttons;

        @include tablet{
            height: 38px;
            width: auto;
            @include tablet__labels-links-buttons;
        }

        &:hover{
            color: $instock-Indigo;
            border: 1px solid $instock-Indigo;
        }
    }

    &__link{
        width: 100%;
        margin-left: 1rem;

        @include tablet{
            height: 38px;
            width: auto;
        }
      
    }
}