@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.addWarehouse{

    box-shadow: 0 0 4px grey;
    margin: 0rem 2rem 1rem 2rem;

    &__title{
        
        margin-top: 0;
    }
    
    &__warehouse{

    }

    &__contacts{

    }

    &__subtitle{

    }
    
    &__label{

    }

    &__input{

    }

    &__submit{

    }

    &__button{

    }
}