@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header{

    background-color: $graphite;
    padding-top: 1rem;

    @include tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }

    &__image{
        display: flex;
        justify-content: center;
        max-height: 28px;
    }

    &__logo{

        @include tablet{
            padding-left: 1rem;
        }

        @include desktop{
            padding-left: 5rem;
        }
    }

    &__list{
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0 0 1rem 0;
        margin-bottom: 0;

        @include desktop{
            padding-right: 5rem;
        }
    }

    &__item{
        color: $white;
        padding: 10px 30px 10px 30px;
        @include mobile__labels-links-buttons;

        @include tablet{
            @include tablet__labels-links-buttons;
        }

        &:hover{
            text-decoration: underline;
        }

        &--selected{
            background-color: $instock-Black;
            border-radius: 20px;
            color: $white;
            text-decoration: none;
        }
    }

    &__link{
        text-decoration: none;
    }
}