//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//colors
$primary-textColor:#13182C;
$primary-interactiveColor: #2E66E5;
$primary-globalColor: #FFFFFF;

$secondary-tableColor:#5C667E;
$secondary-outlineColor:#BDC5D5;

$background-navColor:#232940;
$background-pageColor:#F7F8F9;

$instock-color:#158463;
$outOfStock-color:#C94515;



